@media (min-width: 450px) {
    @keyframes animationPokemon {
        from {margin-left: 50%;}
        50%{margin-left: 5%;}
        to {margin-left: -50%;}
    }

    @keyframes pokeball {
        0%{transform: rotate(0deg) scaleX(-1)}
        100%{transform: rotate(-360deg) scaleX(-1)}
    }
}