@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

@media (max-width: 450px) {
    
}

@media (max-width: 850px) {
    .asideExibitionPokemons{
        grid-template-columns: repeat(3, 33.3%);
    }
    .asideExibitionPokemons article .divName{
        font-size: 2.5vw;
    }
}
@media (min-width: 850px) {
    .asideExibitionPokemons{
        grid-template-columns: repeat(4, auto);
    }
    .asideExibitionPokemons article .divName{
        font-size: 1.3vw;
    }
}