@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

@media (max-width: 550px) {
    .asideExibitionPokemons{
        grid-gap: 3vw;
        grid-template-columns: repeat(2, auto);
    }
    .asideExibitionPokemons article{
        border: 2px solid black;
    }
    .asideExibitionPokemons article .divName{
        font-size: 3vw;
        border-bottom: 2px solid black;
    }
    .asideExibitionPokemons article img:nth-child(2){
        width: 20vw;
        margin: auto;
    }
    .asideExibitionPokemons article .divInfo div p{
        font-size: 2.5vw;
    }
    .asideExibitionPokemons article .divInfo div img{
        width: 2vw;
        height: 2vw;
    }

    .backgroundTotal article span div span{
        font-size: 2.5vw;
    }
    .backgroundTotal article{
        display: grid;
    }
    .backgroundTotal article .spanExibition .spanId{
        margin: auto;
    }
}

@media (min-width: 550px) {
    .asideExibitionPokemons{
        grid-gap: 2vw;
        grid-template-columns: repeat(3, 33.3%);
    }
    .asideExibitionPokemons article{
        border: 3px solid black;
    }
    .asideExibitionPokemons article .divName{
        font-size: 2.5vw;
        border-bottom: 3px solid black;
    }
    .asideExibitionPokemons article img:nth-child(2){
        width: 10vw;
        margin: auto;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }
    .asideExibitionPokemons article .divInfo div p{
        font-size: 2vw;
    }
    .asideExibitionPokemons article .divInfo div img{
        width: 2vw;
        height: 2vw;
    }

    .backgroundTotal article span div span{
        font-size: 2vw;
    }
    .button{
        display: none;
    }
    .backgroundTotal article{
        display: grid;
    }
    .backgroundTotal article .spanExibition .spanId{
        margin: auto;
        margin-top: 5vw;
        margin-bottom: -15vw;
        font-size: 10vw;
    }
    .backgroundTotal article span div span{
        margin-top: 4vw;
    }
}
@media (min-width: 850px) {
    .asideExibitionPokemons{
        grid-gap: 2vw;
        grid-template-columns: repeat(4, auto);
    }
    .asideExibitionPokemons article{
        border: 4px solid black;
    }
    .asideExibitionPokemons article .divName{
        font-size: 1.3vw;
        border-bottom: 3px solid black;
    }
    .asideExibitionPokemons article img:nth-child(2){
        width: 5vw;
        margin: auto;
    }
    .asideExibitionPokemons article .divInfo div p{
        font-size: 1vw;
    }
    .asideExibitionPokemons article .divInfo div img{
        width: 1vw;
        height: 1vw;
    }

    .backgroundTotal article span div span{
        font-size: .8vw;
    }
    .backgroundTotal article .spanExibition{
        width: 20vw;
        height: 25vw;
    }
    .backgroundTotal article .spanExibition .spanId{
        margin: 2vw;
        position: absolute;
        margin-top: 0;
        font-size: 5vw;
    }
    .backgroundTotal article{
        display: flex;
    }
    #imagePokemon{
        margin-left: 7vw;
    }
}