@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    font-family: Poppins;
    overflow-x: hidden;
}
#root, .App{
    height: 100%;
    overflow-x: hidden;
}
body *{
    background-repeat: no-repeat;
    background-position: center;
}


#pokedex header{
    width: 100%;
    height: 20vh;
    display: flex;
    position: absolute;
}
#pokedex header .imgIcone{
    width: 15vh;
    height: fit-content;
    display: block;
    margin: auto;
    margin-left: 7vw;
}

#pokedex header div{
    display: flex;
    width: fit-content;
    margin: auto;
    margin-right: 5vw;
}
#pokedex header div img{
    width: 3vh;
    position: absolute;
    margin: 1.5vh;
    margin-left: 2vh;
    opacity: .2;
}
#pokedex header div input{
    min-width: 10vh;
    height: 6vh;
    padding-inline-start: 7vh;
    padding-inline-end: 2vh;
    border-radius: 30px;
    border: 1px solid #ECECEC;
    font-family: Poppins;
}



.sectionOne{
    width: 100%;
    min-height: 95vh;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #1E234A;
    background-image: url(../Images/Rectangle\ 71.png);
    background-size: contain;
    background-position: right;
}
.sectionOne aside:nth-child(1){
    display: inline-grid;
}
.sectionOne aside:nth-child(1) .charizard{
    width: 60%;
    margin: auto;
    margin-top: 15vh;
    transform: scaleX(-1);
}
.sectionOne aside:nth-child(1) .pokeball{
    width: 15vh;
    transform: rotate(-15deg);
    margin-left: 6vw;
    margin-bottom: -10vh;
}

.sectionOne aside:nth-child(2){
    width: 100%;
    height: 100%;
}
.sectionOne aside:nth-child(2) .pokeball:nth-child(1){
    width: 8vh;
    transform: rotate(-125deg) scaleX(-1);
    margin-left: 7vw;
    margin-top: 13vh;
    margin-bottom: -10vh;
    display: block;
}
.sectionOne aside:nth-child(2) .pokeball:nth-child(2){
    width: 15vh;
    transform: rotate(-25deg) scaleX(-1);
    margin-left: 45vw;
    margin-top: 8vh;
    margin-bottom: -10vh;
    display: block;
}
.sectionOne aside:nth-child(2) .pokeball:nth-child(5){
    width: 8vh;
    transform: rotate(25deg) scaleX(-1);
    margin-left: 2vw;
    margin-top: -3vh;
    display: block;
}
.sectionOne aside:nth-child(2) .pokeball:nth-child(6){
    width: 8vh;
    transform: rotate(25deg);
    margin-left: 30vw;
    margin-top: 8vh;
    margin-bottom: -10vh;
    display: block;
}

.sectionOne aside:nth-child(2) h1{
    width: fit-content;
    margin: 0;
    margin-left: auto;
    margin-right: 3vw;
    font-size: 4.5vw;
}
.sectionOne aside:nth-child(2) :nth-child(3){
    margin-top: 11vh;
}
.sectionOne aside:nth-child(2) :nth-child(4){
    margin-top: -3vh;
}



.sectionTwo{
    width: 100%;
    min-height: 50vh;
    background-color: #F8F8F8;
}
.sectionTwo h1{
    font-size: 3vh;
    margin-left: 15vh;
    margin-top: 15vh;
}