.backgroundTotal{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    display: flex;
}

.backgroundTotal header{
    width: 100%;
    height: 8vh;
    display: flex;
    background-color: white;
    margin-bottom: 7vw;
    position: fixed;
}
.backgroundTotal header .imgIcone{
    width: 8vh;
    height: fit-content;
    display: block;
    margin: auto;
    margin-left: 4vw;
    cursor: pointer;
}

.button{
    height: 3.5vw;
    width: 3.5vw;
    border-radius: 100%;
    margin: auto;
    cursor: pointer;
    border: none;
    background-color: #f7e354;
}
.button img{
    width: 1.5vw;
    margin: auto;
}

.backgroundTotal article{
    width: 60%;
    min-height: 30vw;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.13);
    margin: auto;
}
.backgroundTotal article .spanExibition{
    margin: auto;
    margin-left: 3vw;
    margin-right: 0;
    border-radius: 10px;
    display: grid;
}
.backgroundTotal article .spanExibition .spanId{
    font-weight: bold;
    color: #00000008;
    z-index: 0;
}
#imagePokemon{
    width: 35%;
    margin: auto;
    margin-top: 4vw;
    margin-bottom: 2vw;
    z-index: 5;
}

.divVersions{
    display: flex;
    grid-gap: 5vw;
}
.divVersions img{
    width: 3vw;
    height: 3vw;
    border: 2px solid #ededed;
    padding: 1vw;
    border-radius: 15px;
    margin-top: 4vw;
}

.backgroundTotal article span div{
    width: fit-content;
    height: fit-content;
    margin: auto;
    display: flex;
    grid-gap: 1vh;
    margin: auto;
}
.backgroundTotal article span div span{
    width: fit-content;
    height: fit-content;
    padding: .5vw 1vw;
    border-radius: 20px;
    display: flex;
    font-weight: 600;
    letter-spacing: 1px;
}


.backgroundTotal article .divInformations{
    width: 25vw;
    margin-left: 3vw;
}
.backgroundTotal article .divInformations h1{
    font-family: VT323;
    font-size: 3vw;
    text-transform: capitalize;
    margin-bottom: 1vw;
}

.ulInfo{
    list-style: none;
    padding: 0;
}
.ulInfo li{
    display: flex;
}
.ulInfo li p{
    white-space: nowrap;
}
.ulInfo li p:nth-child(1){
    margin-right: 1vw;
    font-weight: 500;
}
.ulInfo li p:nth-child(3){
    margin-left: 1vw;
    font-weight: 500;
}

#types{
    width: 2vw;
    height: 2vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 1vw;
}
.bug{
    background-color: #5A5979;
    color: #ffffff;
}
.dark{
    background-color: #5A5979;
    color: #040706;
}
.dragon{
    background-color: #61CAD9;
    color: #448B95;
}
.eletric{
    background-color: #FBFB72;
    color: #E3E32B;
}
.fighting{
    background-color: #EF6138;
    color: #994025;
}
.fire{
    background-color: #FD4C5A;
    color: #AB1F23;
}
.flying{
    background-color: #93B2C7;
    color: #4A677D;
}
.ghost{
    background-color: #906790;
    color: #33336B;
}
.ground{
    background-color: #A9702C;
    color: #6E491F;
}
.ice{
    background-color: #D8F0FA;
    color: #86D2F5;
}
.normal{
    background-color: #CA98A7;
    color: #75515B;
}
.poison{
    background-color: #9B69D9;
    color: #5E2D88;
}
.psychic{
    background-color: #F81C91;
    color: #A42A6C;
}
.rock{
    background-color: #8B3E21;
    color: #48180B;
}
.steel{
    background-color: #42BD94;
    color: #5F756D;
}
.water{
    background-color: #86A8FC;
    color: #1552E2;
}
.grass{
    background-color: #27CB4F;
    color: #147B3D;
}
.fairy{
    background-color: #EA1369;
    color: #8b073c;
}