aside{
    display: grid;
    margin-top: 5vh;
    grid-template-columns: 50% auto;

    @media (max-width: 750px){
        display: block;
    }

    .sectionListPokemons{
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, auto);
        flex-flow: row wrap;
        grid-gap: 4vw;
        padding: 0vh 5vh;
    }

    .spanExbDetailsPokemon{
    
        @media (max-width: 750px){
            display: none;
        }
    }
    
}