body, .App, #root{
    width: 100%;
    height: 100%;
    background-color: #040506;
    position: absolute;
    margin: 0;
}

body * {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

ul{
    list-style: none;
}

li, button, span{
    background-color: transparent;
    cursor: pointer;
    font-family: Poppins;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}